doctype transitional
html
    head
        meta(http-equiv = 'Content-Type', content = 'text/html; charset=UTF-8')
        title= subject
        body
            h1 Приветствуем нового пользователя DREAMSEXPRESS!
            p Для подтверждения e-mail перейдите по  
                a(href= confirmation_url) ссылке
                | .
                
            p В дальнейшем Вы сможете авторизоваться с помощью e-mail и пароля