doctype transitional
html
    head
        meta(http-equiv = 'Content-Type', content = 'text/html; charset=UTF-8')
        title= subject
    body
        h1 DREAMSEXPRESS получил запрос на восстановление доступа!
        p Для установки нового пароля перейдите по  
            a(href= confirmation_url) ссылке
            | .
            
        p Вы можете проигнорировать это письмо и пользоваться старыми учетными данными.