include mixins

- var gender = ['Любой', 'Девочки','Мальчики']
- var age = ['Любой', 1,2,3,4,5,6,7,8,9,10,11,12,13,14]
- var sizes = ['Любой', '5','10','15','20','25','30','35','40']
- var seasons = ['Любой', 'Лето','Зима','Демисезон']
- var colors = ['Любой', 'Оранжевый','Красный','Черный','Белый','Синий']
- var brands = ['Любой', 'Zara','H&M','Okaidi','Puma','Nike','Mothercare','Addidas','Reebok']

doctype html
html(lang='ru')
    +dev_head("DREAMSEXPRESS Поиск", false, false, true)

    body.mCSB
        .wrapper
            .base
                +header(1)
                
                div.main_content
                    .section_inner
                        +breadcrumbs(['Главная', 'Расширенный поиск'])
                        h1.page_title.fw_700
                            span Расширенный Поиск

                        .search_container
                            +filter_form(true)
                            
            +footer()
            
        +aside_left()
        +aside_right()
        +popups()
        
